form,label,fieldset,select,textarea,input
{
    display: block;
    margin: 8px;
}

form
{
    background-color: rgb(255, 193, 236);
    border: 1px solid black;
    width: 15%;
}

body
{
    background-color: rgb(220, 255, 246);
}

textarea
{
    height: 6rem;
    width: 90%;
    
}